.goods-create-swtich-contianer{
    display: flex;
    flex-wrap: wrap;
    .ant-space-align-center{
        width: 50vw;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    .goods-create-swtich-item{
        margin-top: 10px;
        display: flex;
       flex-wrap: nowrap;
    }
}
}
.goods-create-price-setting-container{
    .ant-form-item-control-input-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50vw !important;
        .ant-space-item{
            display: flex;
        .goods-create-price-setting-item{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
    }

}
.goods-models-normal-settings{
    display: flex;
    flex-wrap: wrap;
    .ant-space-align-center{
        width: 10vw;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
}

}
.goods-publish-all-pages{
    padding: 20px;
    .site-navigation-steps{
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

}
.goods-basic-publish-contianer{
    background-color: white;
    padding: 20px;
   
}
.goods-info-adj-containter{
    padding: 20px;
    .adj-goods-basic-button{
        margin-top: 20px;
    }
    .goods-adj-swtich-contianer{
        display: flex;
    flex-wrap: wrap;
    text-align: center;
    .ant-space-align-center{
        padding-left: 30px;
        padding-right: 30px;
        width: 60vw;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    .goods-create-swtich-item{
        margin-top: 10px;
        display: flex;
       flex-wrap: nowrap;
    }
}
    }
}
